* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */


/* footer */
footer {
  position: absolute;
  bottom: 0px;
  color: white;
  opacity: 0.6;
  background-color: #c081d9;
}

#page {
  width: 600px;
  height: 620px;
  margin: 30px auto;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(117, 111, 111, 0.688);
  position: relative;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-area button {
  margin: 13px 0px;
  width: 50%;
  font-size: 20px;
  padding: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(180, 174, 174, 0.688);
}

.back-button {
  background-color: #ffffff;
  border: none;
}

.back-button:hover {
  background-color: rgb(244, 244, 244);
}

.submit-button {
  background-color: #c081d9;
  color: white;
  border: none;
}

.submit-button:hover {
  background-color: #9a3bbf;
}

