@import './todoList.css';
@import './todoRegist.css';
@import './todoDetail.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    text-align: center;
    color: #ffffff;
    background-color: #c081d9;
    padding: 13px 0px;
    box-shadow: 0px 1px 10px -1px rgba(178, 166, 166, 0.688);
}

/* footer */
footer {
    position: fixed;
    bottom: 30px;
    color: white;
    opacity: 0.6;
    background-color: #c081d9;
}

#page {
    width: 600px;
    height: 620px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(117, 111, 111, 0.688);
    position: relative;
}

.back-button {
    background-color: #ffffff;
    border: none;
}

.back-button:hover {
    background-color: rgb(244, 244, 244);
}

.submit-button {
    background-color: #c081d9;
    color: white;
    border: none;
}

.submit-button:hover {
    background-color: #9a3bbf;
}