.buttonArea {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .button {
  margin: 13px 0px;
  width: 50%;
  font-size: 20px;
  padding: 10px 0px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(180, 174, 174, 0.688);
  }

  .backButton {
  background-color: #ffffff;
  border: none;
  }

  .backButton:hover {
  background-color: rgb(243, 243, 243);
  transition: all 0.2s ease-in-out;
  }

  .defaultButton {
  background-color: #c081d9;
  color: white;
  border: none;
  }

  .defaultButton:hover {
  background-color: #9a3bbf;
  transition: all 0.2s ease-in-out;
  }