.regist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.regist-form input {
  background-color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

textarea {
  background-color: #fff;
  height: 425px;
  font-size: 23px;
  font-family: unset;
  font-weight: 500;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  outline: none;
  resize: none;
}

.regist-form input:hover,
textarea:hover {
  background-color: rgb(244, 244, 244);
  transition: all 0.3s ease-in-out;
}
