body {
  /* display: flex;
  justify-content: center; */
  height: 100vh;
  background-color: #e8e8e8;
  font-family: "Noto Sans KR", sans-serif;
}
header {
  width: 390px;
}

#todoList {
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #383cc2;
  border-radius: 20px;
}

#todoList #app {
  height: 100%;
}

#todoList li {
  list-style-type: none;
}

#todoList a {
  text-decoration: none;
  color: black;
}

#todoList h1 {
  font-size: 29px;
  color: white;
  margin: 45px 30px 22px 30px;
}
/* .mainContainer {
    background-color: white;
    width: 300px;
    height: 400px;
  } */
#todoList #content {
  background-color: white;
  position: relative;
  width: 390px;
  height: 80vh;
  border-radius: 40px 40px 0 0;
  padding-top: 25px;
}

#todoList .todoItem {
  display: flex;
  position: relative;
  color: black;
  justify-content: space-between;
  padding: 16px 0;
}

#todoList .todoItem button {
  border: none;
  background-color: transparent;
  color: #616161;
}

#todoList .todolist {
  padding: 0 38px;
}

#todoList .todolist a {
  font-weight: bold;
}

#todoList input[type="checkbox"] + label {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/checkboxOff.png") no-repeat 0 0px / contain;
  cursor: pointer;
}

#todoList input[type="checkbox"]:checked + label {
  width: 24px;
  height: 24px;
  background: url("../img/checkboxOn.png") no-repeat 0 0px / contain;
  cursor: pointer;
}

#todoList input[type="checkbox"] {
  display: none;
}

#todoList .todoSubButtonList {
  position: absolute;
  right: -9.5px;
  top: -27px;
  border: white solid 0.2px;
  padding: 1.5px;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
}
#todoList .todoSubButtonList li {
  padding: 1px 0;
  
}
#todoList .todoSubButtonList li button{
  cursor: pointer;
  
}


#todoList .todoSubButtonList li button:hover {
  font-weight: bolder;
  color: #383cc2;
}

#todoList .todoSubButtonList li:first-child {
  border-bottom: 1px solid #e6e6e6;
  color: #383cc2;
}
#todoList .todoSubButtonList li:last-child {
  color: #c23838;
}
#todoList #addButton {
  height: 72px;
  width: 72px;
  background: #383cc2;
  border-radius: 25%;
  color: white;
  border: none;
  position: absolute;
  bottom: 27px;
  right: 23px;
}

#update {
  background-color: "white";
  width: 390px;
  background-color: #383cc2;
  border-radius: 20px;
  margin: 0px auto;
}

#update #app {
  height: 100%;
}

#update h1 {
  font-size: 29px;
  color: white;
  padding: 45px 30px 12px 30px;
}

#update p {
  text-align: center;
  padding-bottom: 20px;
}
#update #content {
  background-color: white;
  height: 80vh;
  width: 390px;
}

#update .form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  padding: 30px;
}

#update .headerNode {
  margin: 0 auto;
}

#update .h1 {
  margin: 0px 0px;
}

#update .titleBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 20px;
}

#update .detailBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;
}

#update .titleInput {
  min-height: 35px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#update .detailInput {
  min-height: 80px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#update .addButton {
  background-color: #383cc2;
  color: white;
  padding: 16px 0px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#update .deleteButton {
  background-color: #c23838;
  color: white;
  padding: 16px 0px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#regist {
  background-color: "white";
  width: 390px;
  background-color: #383cc2;
  border-radius: 20px;
  margin: 0px auto;
}

#regist #app {
  height: 100%;
}

#regist h1 {
  font-size: 29px;
  color: white;
  padding: 45px 30px 12px 30px;
}

#regist p {
  text-align: center;
  padding-bottom: 20px;
}
#regist #content {
  background-color: white;
  height: 80vh;
  width: 390px;
}

#regist .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  padding: 30px;
}

#regist .headerNode {
  margin: 0 auto;
}

#regist .h1 {
  margin: 0px 0px;
}

#regist .titleBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 20px;
}

#regist .detailBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;
}

#regist .titleInput {
  min-height: 35px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#regist .detailInput {
  min-height: 85px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#regist .addButton {
  background-color: #383cc2;
  color: white;
  padding: 16px 0px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.topSection {
  background-color: #383cc2;
  width: 390px;
  height: 80px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prevButton {
  border: 0;
  outline: 0;
  background: transparent;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#todoInfo h1 {
  margin: 45px 36px 22px 36px;
}

#todoInfo {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  border-radius: 20px;

  .todoListTitle {
    margin-top: 40px;
    width: 336px;
    margin-bottom: 10px;
  }

  .todoList {
    margin-left: 0;
    width: 336px;
    min-height: 55px;
    padding: 6px;
    border-radius: 5px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
  }
  .detailContent {
    height: 455px;
    display: flex;
    align-items: start;
    padding: 12px 6px;
  }

  .modifyButton {
    width: 336px;
    height: 58px;
    border-radius: 10px;
    background-color: #383cc2;
    border: none;
    margin: 32px 0 17px;
    color: white;
    font-size: large;
  }
  .pageTitle {
    font-style: italic;
  }
}
