.todolistLabel {
  display: flex;
  flex-direction: column;
  color: #272727;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  gap: 32px;
}

.todolistContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #272727;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
  width: 50%;
}

.todolistContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 114px;
  margin: 54px auto 0;
}

.todolistDetailContainer {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  margin: 30px auto;
  padding: 20px 30px;
  justify-content: space-around;
  align-content: center;
  box-shadow: 3px 10px 15px -3px rgba(68, 68, 68, 0.25);
}

.btnHome {
  width: 136px;
  height: 55px;
  border-radius: 25px;
  border: none;
  background-color: #f3f3f3;
  box-shadow: 13px 10px 15px rgba(68, 68, 68, 0.25);
  color: #606060;
  font-size: 22px;
  font-weight: 300;
}

.btnDelete {
  width: 136px;
  height: 55px;
  border-radius: 25px;
  border: none;
  background-color: #ff6a61;
  box-shadow: 13px 10px 15px rgba(68, 68, 68, 0.25);
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 54px auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

#page {
    max-width: 1000px;
    margin: 25px auto;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(32, 32, 32, 0.688);
    padding: 20px;
}

ul {
    list-style: none;
}

button {
    background: inherit;
    border: none;
}

li, button {
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 25px;
    background: #F3F3F3;
    box-shadow: 13px 10px 15px -3px rgba(68, 68, 68, 0.25);
    margin-top: 36px;
    font-style: normal;
    font-size: 21px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: #bfbebe;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    font-weight: 500;
    color: white;
    background-color:#2e78e7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #D9D9D9;
    margin-top : 36px
} 

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label{
    background: #0062F5;
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:hover + label {
  background: #88b1ef;
  transition: all 0.2s ease-in-out;
}


input[type="text"] {
    width: 100%;
    border-radius: 25px;
    background: #F3F3F3;
    box-shadow: 13px 10px 15px -3px rgba(68, 68, 68, 0.20);
    margin-top: 36px;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    padding: 10px 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
}

input[type="text"]:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

textarea {
    width: 100%;
    height: 250px;
    border-radius: 25px;
    background: #F3F3F3;
    box-shadow: 13px 10px 15px -3px rgba(68, 68, 68, 0.20);
    margin-top: 36px;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    padding: 30px 30px;
    border: none;
    cursor: pointer;
    outline: none;
    resize: none;
}

textarea:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}
