body {
  background-color: #e8e8e8;
  font-family: "Noto Sans KR", sans-serif;
}

#regist {
  background-color: "white";
}

#regist .wrapper {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  height: 90vh;
  width: 80%;
  margin: 0px auto;
}

#regist .form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  height: 100%;
}

#regist .headerNode {
  margin: 0 auto;
}

#regist .h1 {
  margin: 0px 0px;
}

#regist .titleBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 20px;
}

#regist .detailBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;
}

#regist .titleInput {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#regist .detailInput {
  height: 355px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#regist .addButton {
  background-color: #383cc2;
  color: white;
  padding: 16px 0px;
  font-size: 20px;
  border-radius: 10px;
}
.topSection {
  background-color: #383cc2;
  width: 393px;
  height: 80px;
  border-radius: 20px 20px 0 0;
}

.prevButton {
  border: 0;
  outline: 0;
  background: transparent;
}
/* i {
  width: 50px;
  height: 50px;
} */

#todoInfo {
  width: 393px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .todoListTitle {
    margin-top: 40px;
    width: 336px;
    margin-bottom: 10px;
  }

  .todoList {
    margin-left: 0;
    width: 336px;
    min-height: 55px;
    padding: 6px;
    border-radius: 5px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
  }
  .detailContent {
    height: 455px;
    display: flex;
    align-items: start;
    padding: 12px 6px;
  }

  .modifyButton {
    width: 336px;
    height: 58px;
    border-radius: 10px;
    background-color: #383cc2;
    border: none;
    margin: 32px 0 17px;
    color: white;
  }
  .pageTitle {
    font-style: italic;
  }
}
